<% include ../public/ui_ux/head %>

  <body>

    <body>
      <nav class="navbar navbar-expand-md bg-warningg">
        <div class="container">
          <a class="navbar-brand" href="/list">Klik Disini Untuk Carikerja</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
          <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
            <!--
            <a class="btn navbar-btn btn-primary ml-2 text-white"><i class="fa d-inline fa-lg fa-user-circle-o"></i> Sign in</a>
            <a class="btn navbar-btn btn-primary ml-2 text-white"><i class="fa d-inline fa-lg fa-search"></i> cari kerja</a>
          -->
          </div>
        </div>
      </nav>
      <div class="pt-5 text-white bg-primary">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-md-left text-center align-self-center my-5">
              <h2> <center> Cari Pekerjaan Lebih Mudah </center></h2>
              <p> </p>
              <h4> <center>Siapakah Anda ? </center></h4>
              <div class="row mt-5">
                <div class="col-md-2 col-5">
                  <!-- di kosongi buat space-->
                </div>
                <div class="col-md-3 col-5">
                  <a href="/pemberikerja/" class="btn btn-dark">Pemberi Kerja</a>
                  <!-- <a href="#"><img class="img-fluid d-block mx-auto" src="/bootstrap/img/index0.jpg"></a> -->
                </div>
                <div class="col-md-1 col-5">
                  <!-- di kosongi buat space-->
                </div>
                <div class="col-md-3 col-5">
                  <a href="/pencarikerja/" class="btn btn-dark">Pencari Kerja</a>
                  <!-- <a href="#"><img class="img-fluid d-block mx-auto" src="/bootstrap/img/index0.jpg"></a> -->
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <img class="img-fluid d-block mx-auto" src="/bootstrap/img/index0.jpg"> </div>


                <!-- <a href="#"><img class="img-fluid d-block mx-auto" src="/bootstrap/img/index0.jpg"></a> -->

          </div>
        </div>
      </div>
      <div class="py-5 gradient-overlay bg-dark text-white">
        <div class="container">
          <div class="row">
            <div class="py-5 col-md-6">
              <div class="row">
                <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa-bell-o"></i></div>
                <div class="col-8">
                  <h5 class="mb-3"><b>Pembaruan</b></h5>
                  <p class="my-1">Dapatkan setiap lowongankerja yang update </p>
                </div>
              </div>
            </div>
            <div class="py-5 col-md-6">
              <div class="row">
                <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa-map-o"></i></div>
                <div class="col-8">
                  <h5 class="mb-3"><b>Temukan Pekerjaan</b></h5>
                  <p class="my-1">Menumukan Pekerjaan impian dengan mudah</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="py-5 col-md-6">
              <div class="row">
                <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa-file-o"></i></div>
                <div class="col-8">
                  <h5 class="mb-3"><b>Form CV Online</b></h5>
                  <p class="my-1">Kemudahan dalam memasukan CV datadiri , masukan CV datadiri secara online </p>
                </div>
              </div>
            </div>
            <div class="py-5 col-md-6">
              <div class="row">
                <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa-bicycle"></i></div>
                <div class="col-8">
                  <h5 class="mb-3"><b>Hemat Tenaga</b></h5>
                  <p class="my-1">Hemat waktu , tidak perlu pergi dari satu tempat ke tempat lain</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <% include ../public/ui_ux/footer %>
      </div>
  </body>
</html>
