<div class="py-5 text-center text-white bg-success">
  <div class="container">
    <div class="row">
      <div class="p-4 col-md-3"> <i class="d-block fa fa-3x fa-odnoklassniki"></i>
        <h2 class="my-3">Improve</h2>
        <p>Ada banyak orang yang mempunyai kemampuan kerja sesuai yang di harapakan</p>
      </div>
      <div class="col-md-3 p-4"> <i class="d-block fa fa-3x fa-th"></i>
        <h2 class="my-3">Scale</h2>
        <p>Work simultaneously on different panels. Share the work with teammates.</p>
      </div>
      <div class="col-md-3 p-4"> <i class="d-block fa fa-3x fa-globe"></i>
        <h2 class="my-3">Cakupan</h2>
        <p>Cakupan yang luas untuk membagikan lowongan kerja</p>
      </div>
      <div class="col-md-3 p-4"> <i class="d-block fa fa-3x fa-money"></i>
        <h2 class="my-3">Make money</h2>
        <p>Tidak perlu mengeluarkan uang untuk menyebar lowonagn kerja</p>
      </div>
    </div>
  </div>
</div>
